body {
    margin-top: 125px;
}

.t-contact {
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: 600;
}

.container-central {
    display: flex;
    background-color: #160C28;
    padding: 20px;
    border-radius: 20px;
    color: #E1EFE6;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px #6c6c6c;
    margin-left: 40px;

    form {
        width: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: column;

        input {
            padding: 10px;
            border: 1px solid #7c7b7e;
            border-radius: 5px;
            margin-bottom: 25px;
        }

        label {
            justify-items: left;
        }

        textarea {
            border: 1px solid #7c7b7e;
            border-radius: 5px;
            margin-bottom: 25px;
            padding: 15px;
        }
    }

    button {
        padding: 15px 25px;
        margin: 10px auto 0;
        margin-bottom: 40px;
        border-radius: 50px;
    }
}

.links-social {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 20px;
    text-align: center;
    align-items: center;

    a {
        display: block;
        width: 70%;
    }

    .icon {
        text-align: center;
        color: #160C28;
        font-size: 20px;
        background-color: #EFCB68;
        margin: 30px;
        border-radius: 100px;
        padding: 15px 20px;
    }

    .icon:hover {
        background-color: #aa9456;
    }

}

.iframe {
    margin: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #6c6c6c;

    iframe {
        width: 100%;
        border-radius: 20px;
    }
}

.maps {
    margin-bottom: 50px;
}


.botao-insta {
    background-image: linear-gradient(to right, #8a3ab9, #fbad50, #e95950);
    color: #E1EFE6 !important;
    border: none;

    &:hover {
        background-image: linear-gradient(to right, #5e2d7a, #ac7b40, #943f39);
        color: #E1EFE6;
        border: none;
    }
}



@media (max-width: 780px) {
    .endereco {
        h2 {
            margin-top: 0;
        }
    }
}