.erro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E1EFE6;
  min-height: 50vh;
}

.botao-erro{
  a {
  border: #EFCB68 1px solid;
}
a:hover{
  border: #EFCB68 1px solid;
}
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}