body{
  background-color: #160C28;
  margin-top: 80px;
}
.erro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E1EFE6;
  min-height: 50vh;
}

.botao-erro{
 a {
    font-size: 20px;
    padding: 10px 25px;
    align-self: center;
    margin-top: 10px;
    border: #EFCB68 1px solid;
    border-radius: 30px;
    transition: all 0.5s;

    &:hover {
      background-color: #EFCB68;
      color: #160C28;
      border: #EFCB68 1px solid;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}