.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  position: relative;
  display: block;
}

.logo img {
  margin: 10px 20px;
  width: 60px;
  height: 50px;
}

.navbar {
  background-color: #160C28;
  height: 90px;
}

.navbar-collapse, .collapse.show {
  background-color: #160C28;
  width: 100%;
}

.navbar-toggler {
  border-color: #EFCB68;
  margin: 20px
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(225,239,230,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


#navbar {
  transition: top 0.3s;
}

.nav-link {
  margin: 20px 30px;
  font-size: 20px;
  padding: 1px;
  transition: all 0.5s;
  color: #E1EFE6;
}

.nav-link:hover {
  color: #EFCB68;
}

.nav-link:focus {
  color: #E1EFE6 !important;
}

.dropdown-toggle.show,
.dropdown-toggle:active {
  color: #EFCB68 !important;
}

body {
  background-color: #E1EFE6;
}

.body {
  color: #160C28;
}

.imagem-banner {
  width: 500px;
  height: 350px;
  border-radius: 40px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: #160C28;
  padding: 150px 0;

  img {
    margin-right: 80px;
  }

  h1 {
    text-align: center;
  }
}

.conteudo-banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: #E1EFE6;

  a {
    font-size: 20px;
    padding: 10px 25px;
    align-self: center;
    margin-top: 30px;
    border: #EFCB68 1px solid;
    border-radius: 30px;
    transition: all 0.5s;

    &:hover {
      background-color: #EFCB68;
      color: #160C28;
      border: #EFCB68 1px solid;
    }
  }
}

.container-imagem {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  margin-left: 100px;

  .cima {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
  }

  .baixo {
    position: absolute;
    top: 40px;
    right: -40px;
    z-index: 1;
  }

}

.pagm {
  max-width: 100%;
  margin: 40px;
  margin-bottom: 200px;
}

.formas {
  background-color: #160C28;
  color: #E1EFE6;
  padding: 60px;
  margin: 15px;
  border-radius: 40px;
  box-shadow: 4px 4px 4px 4px #6c6c6c;

  p {
    color: #EFCB68;
  }
}

.titulo {
  margin: 80px 0 5px 60px;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #EFCB68;
  padding-bottom: 4px;
  font-weight: 300;
  letter-spacing: 1px;

}

.titulo-carrossel {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin: 30px;
}

.imagem-carrossel {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.carrossel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carouselExample,
#carouselExample2,
#carouselExample3 {
  padding: 10px 150px;
}

#carouselExample .carousel-control-prev,
#carouselExample .carousel-control-next,
#carouselExample2 .carousel-control-prev,
#carouselExample2 .carousel-control-next,
#carouselExample3 .carousel-control-prev,
#carouselExample3 .carousel-control-next {
  transition: opacity 0.2s;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  padding: 90px 10px;
}

#carouselExample .carousel-control-prev,
#carouselExample2 .carousel-control-prev,
#carouselExample3 .carousel-control-prev {
  left: 70px;
}

#carouselExample .carousel-control-next,
#carouselExample2 .carousel-control-next,
#carouselExample3 .carousel-control-next {
  right: 70px;
}

#carouselExample .carousel-control-prev:hover,
#carouselExample .carousel-control-next:hover,
#carouselExample2 .carousel-control-prev:hover,
#carouselExample2 .carousel-control-next:hover,
#carouselExample3 .carousel-control-prev:hover,
#carouselExample3 .carousel-control-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.295);

}

#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon,
#carouselExample2 .carousel-control-prev-icon,
#carouselExample2 .carousel-control-next-icon,
#carouselExample3 .carousel-control-prev-icon,
#carouselExample3 .carousel-control-next-icon {
  width: 60px;
  height: 60px;
  filter: invert(1);
}



.botaovermais {
  display: flex;
  justify-content: center;
}

.botao {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.5s;
  background-color: #EFCB68;
  color: #160C28;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #EFCB68;

  &:hover {
    background-color: #aa9456;
    color: #160C28;
    border: 1px solid #EFCB68;
  }
}

#sobre {
  margin-bottom: 100px;
}

.quemsomos {
  min-height: 550px;
  margin-top: 30px;
  position: relative;

  .conteudo-sobre {
    position: relative;
    margin-left: 80px;
  }

  .imagem-banner-sobre {
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .baixo-sobre {
    border-radius: 40px;
    position: absolute;
    top: 80px;
    left: -10px;
    z-index: 2;
    max-width: 750px;
    height: 530px;
  }

  .texto-sobre {
    margin: 40px;
    height: 530px;
    max-width: 750px;
    position: absolute;
    z-index: 3;
    background-color: #EFCB68;
    border-radius: 40px;
    padding: 45px;
  }
}



footer {
  padding: 40px 30px 15px 30px;
  background-color: #160C28;
  color: #E1EFE6;

  a {
    text-decoration: none;
    padding: 20px;
    color: #E1EFE6;
    transition: all 0.5s;
  }

  a:hover {
    color: #EFCB68;
  }

  .links {
    margin-top: 30px;
  }

  .conteudo-footer {
    text-align: justify;
  }

  .icon {
    font-size: 30px;
  }
}






@media (max-width: 1000px) {
  .nav-link {
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin: 5px;
  }


}

@media (max-width: 850px) {

 
 
  footer{
    .links{
      margin-top: 0px;
    }
    .icon{
      display: block;
      margin: 1px;
    }
    .conteudo-footer{
      margin-top: 60px;
      display: block
    }
  }
}
