.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  a {
    margin-top: 10px;
  }

  position: relative;
  display: inline-block;
}

header .logo img {
  margin: 10px 20px;
  width: 60px;
  height: 50px;
  position: absolute;
  left: 20px;
}

nav {
  background-color: #160C28;
}

#navbar {
  transition: top 0.3s;
}

.nav-link {
  margin: 20px 40px 20px 40px;
  font-size: 20px;
  padding: 1px;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #EFCB68;
}

.nav-link {
  color: #E1EFE6;
}

body {
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #160C28 650px, #E1EFE6 900px);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #160C28;
}

.imagem-banner {
  width: 500px;
  height: 350px;
  border-radius: 40px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 300px;

  img {
    margin-right: 80px;
  }

  h1 {
    text-align: center;
  }
}

.conteudo-banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: #E1EFE6;

  a {
    font-size: 20px;
    padding: 10px 25px;
    align-self: center;
    margin-top: 10px;
    border: #EFCB68 1px solid;
    border-radius: 30px;
    transition: all 0.5s;

    &:hover {
      background-color: #EFCB68;
      color: #160C28;
      border: #EFCB68 1px solid;
    }
  }
}

.container-imagem {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  margin-left: 100px;

  .cima {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
  }

  .baixo {
    position: absolute;
    top: 40px;
    right: -40px;
    z-index: 1;
  }

}

.titulo {
  text-align: center;
  font-weight: 600;
  margin-bottom: 150px;
}

.titulo-carrossel {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin: 30px;
}

.imagem-carrossel {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carrossel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carouselExample, #carouselExample2, #carouselExample3{
  padding: 10px 150px;
}

#carouselExample .carousel-control-prev, #carouselExample .carousel-control-next, #carouselExample2 .carousel-control-prev, #carouselExample2 .carousel-control-next, #carouselExample3 .carousel-control-prev, #carouselExample3 .carousel-control-next {
  transition: opacity 0.2s;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  padding: 90px 10px;
}

#carouselExample .carousel-control-prev, #carouselExample2 .carousel-control-prev, #carouselExample3 .carousel-control-prev {
  left: 70px;
}

#carouselExample .carousel-control-next, #carouselExample2 .carousel-control-next, #carouselExample3 .carousel-control-next {
  right: 70px;
}

#carouselExample .carousel-control-prev:hover,
#carouselExample .carousel-control-next:hover, #carouselExample2 .carousel-control-prev:hover,
#carouselExample2 .carousel-control-next:hover, #carouselExample3 .carousel-control-prev:hover,
#carouselExample3 .carousel-control-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.295);

}

#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon, #carouselExample2 .carousel-control-prev-icon,
#carouselExample2 .carousel-control-next-icon, #carouselExample3 .carousel-control-prev-icon,
#carouselExample3 .carousel-control-next-icon {
  width: 60px;
  height: 60px;
  filter: invert(1);
}



.botaovermais {
  display: flex;
  justify-content: center;
}

.botao {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.5s;
  background-color: #EFCB68;
  color: #160C28;
  margin-top: 20px;
  margin-bottom: 50px;
  &:hover {
    background-color: #aa9456;
    color: #160C28;
  }
}

.quemsomos {
  margin-top: 30px;
  position: relative;

  .conteudo-sobre{
    position: relative;
    margin-left: 80px;
  }

  .imagem-banner-sobre {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .baixo-sobre {
    border-radius: 40px;
    position: absolute;
    top: 80px;
    left: -10px;
    z-index: 2;
    max-width: 400px;
    height: 300px;
  }


  .texto-sobre {
    margin: 40px;
    height: 300px;
    max-width: 400px;
    position: absolute;
    z-index: 3;
    background-color: #EFCB68;
    border-radius: 40px;
    padding: 45px;
  }

  

}



/*ainda preciso arrumar a responsividade */

@media (max-width: 768px) {
  .carrossel-cozinha .carousel-item {
    width: calc(100% - 100px);
  }

  #carouselExample {
    padding-left: 20px;
    padding-right: 20px;
  }

  #carouselExample .carousel-control-prev {
    left: 5px;

    #carouselExample .carousel-control-next {
      right: 5px;
    }
  }

  @media (max-width: 576px) {
    .carrossel-cozinha .carousel-item {
      width: 100%;
    }
  }

}